* {
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px 80px 33px 80px;
  background: #f8f8f1;
  /* width: 1511px; */
}

.links {
  display: flex;
  gap: 50px;
}
li {
  list-style: none;
}

.links li a {
  text-decoration: none;
  font-size: 24px;
}

.responsive_navbar {
  display: none;
}

@media screen and (max-width: 1200px) {
  .links {
    display: none;
  }
  .responsive_navbar {
    display: flex;
    flex-direction: column;
  }
  .responsive_navbar a {
    text-decoration: none;
  }
}

.section1_main {
  padding: 33px 80px 33px 80px;
  gap: 140px;
}
.section_1_header_1 h1 {
  font: Archivo;
  font-size: 106px;
  font-weight: 800;
  line-height: 101.75px;
  color: #5a4eae;
  width: 599px;
}

.section_1_header_2 h1 {
  font: Archivo;
  font-size: 106px;
  font-weight: 800;
  line-height: 101.75px;
  color: #f76d4a;
}

.section_1_p h3 {
  width: 523px;
}

.section_1_content {
  gap: 27px;
}
